<!DOCTYPE html>
<html lang="en">
<head>
  <title>Planner de Estudio</title>
  <meta charset="utf-8">
  <meta name="viewport" conten="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.3/css/bulma.min.css">
</head>
<body>
  <section class="section">
    <div class="container">
      <h1 class="title">Agrega tus Contenidos</h1>

      <%= form_with model: @contenido, url: "/crear_planner", class: "box", id: "contenidoForm" do |f| %>

        <div class="field">
          <label class="label">Nombre del contenido</label>
          <div class="control">
            <%= f.text_field :nombre, name: "contenido[nombre]", class: "input" %>
          </div>
        </div>

        <div class="field">
          <label class="label">Descripci칩n</label>
          <div class="control">
            <%= f.text_area :descripcion, name: "contenido[descripcion]", class: "textarea", rows: 4 %>
          </div>
        </div>

        <div class="botones" style="display: flex; justify-content: space-between;">
          <div class="agregar" style="float: left;">
            <%= f.submit "Agregar Contenido", class: "button is-info", id: "agregarContenido" %>
          </div>
          <div class="block"></div>
        </div>

      <% end %>

  <footer>
    <p>&copy; 2024 Planner IngUC. Todos los derechos reservados.</p>
    <p><a href="<%= "https://www.linkedin.com/in/sotomuena/" %>">Cont치ctanos</a> para m치s informaci칩n.</p>
  </footer>

</body>
</html>
